.mainnav {
  margin-left: 150px;
}

.active {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  margin-right: 50px;
  text-decoration: underline;
  color: rgb(14, 120, 234);
}

.active:last-child {
  margin-right: 0;
}

.navitem {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
  margin-right: 50px;
}

/* .navitem:last-child {
  margin-right: 0;
} */