.Searchbar {
    margin: 50px 150px;

}

.Searchbar input {

    padding: 5px;
    min-width: 350px;
    min-height: 40px;
    border-color: rgb(14, 109, 225);
    outline-color: rgb(14, 109, 225);
    border-radius: 4px;
}

.Searchbar button {
    font-family: 'montserrat';
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-left: 20px;
    font-weight: 700;
    min-width: 100px;
    padding: 15px;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(14, 109, 225);
    border: none;
    outline: none;
    transition: background-color .25s;
}

.Searchbar button:hover {
    background-color: rgb(21, 84, 231);
}